$circle-size: 100px;

.experience-row {
    position: relative;
    padding-bottom: 65px;
}

.experience-company {
    font-size: 1.5rem;
    line-height: 1.25;
}

.experience-title {
    margin-bottom: 4px;
}

.center-line {
    height: inherit;
    width: 1px;
    border-right: 1px solid $font-color-light-base;
}

.experience-text {
    padding: 0.05rem 0.5rem 0 0.5rem;
    font-size: 0.9rem;
    line-height: 1.4;
}

.circle {
    @include Varela();
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background: $font-color-light-base;
    color: $font-color-dark-base;
    margin: 0 auto;

    div {
        display: block;
        width: 100%;
    }
}

.middle-line {
    position: relative;

    &:after {
        content: '';
        border-left: 1px solid white;
        height: 200%;
        width: 1px;
        left: 49.5%;
        position: absolute;
    }
}

.experience-description {
    @include Geomanist();
}
