.grid-list {
    padding: 0;
}

.project-panel {
    position: relative;
    margin-bottom: 3rem;

    @media screen and (min-width: 40em) {
        margin-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    a.thumbnail-link  {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
        background: rgba(30, 30, 30, 0.9);
        transition: background 1000ms ease;

        &:hover {
            background: rgba(30, 30, 30, 0.95);

            img {
                transform: scale(1.05);
                opacity: 0.25;
            }
        }

        img {
            display: block;
            width: 100%;
            border: none;
            transition: transform 1000ms ease, opacity 1000ms ease;
            opacity: 0.4;
        }
    }
}

.project-info {
    text-shadow: 0px 1px 1px rgba(100, 100, 100, 0.4);
    position: absolute;
    width: 100%;
    top: 8%;

    @media screen and (min-width: 40em) {
        padding: 1.75rem;
    }
}

.project-title {
    font-size: 1.35rem;
}

.project-description {
    @include font-paragraph();
    font-weight: 700;
    font-size: 0.85rem;
}
