<header class="top-bar">
  {% spaceless %}
    <div class="top-bar-left">
      <div class="top-bar-home">
        <a class="top-bar-home-link" href="{{ path('home') }}">
          <img src="{{ asset('assets/img/logo/logo.png') }}" alt="sb">
        </a>
      </div>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu main-menu-dropdown" data-dropdown-menu role="menubar">
        <li aria-haspopup="true" class="menu-item is-dropdown-submenu-parent opens-left" data-is-click="false" role="menuitem">
          <a>
            <i class="fi-list"></i>
          </a>
          <ul class="menu vertical submenu is-dropdown-submenu first-sub main-submenu-items" data-submenu role="menu">
            <li class="menu-item is-submenu-item is-dropdown-submenu-item" role="menuitem">
              <a href="{{ path('about') }}">skills</a>
            </li>
            <li class="menu-item is-submenu-item is-dropdown-submenu-item" role="menuitem">
              <a href="{{ path('projects') }}">projects</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  {% endspaceless %}
</header>
