<header class="top-bar fixed">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-item">
                <a href="{{ path('home') }}">sb</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu align-right" data-dropdown-menu>
            <li class="menu-item text-center">
                <a>info</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li class="menu-item text-center">
                        <a href="{{ path('developer') }}">about</a>
                    </li>
                    <li class="menu-item text-center">
                        <a href="{{ path('projects') }}">projects</a>
                    </li>
                    <li class="menu-item text-center">
                        <a href="{{ path('experience') }}">experience</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
