<header class="top-bar">
    <div class="top-bar-right">
        <ul class="menu align-right">
            <li class="menu-item text-center">
                <a href="{{ '' }}">adventurer</a>
            </li>
            <li class="menu-item text-center">
                <a href="{{ path('developer') }}">developer</a>
            </li>
        </ul>
    </div>
</header>
