{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-container">
        <div class="page-title text-center">
            experience
        </div>
        <div class="page-description text-center">

        </div>
        <div class="experience-timeline">
            <div class="row experience-row experience-row-left">
                <span class="column large-5 experience-text text-right">
                    <div class="experience-company">KM Labs, Inc.</div>
                    <div class="experience-title">Mechanical Technician</div>
                    <div class="experience-description">KMLabs specializes in the production of high-performance, ultrafast Ti:Sapphire laser oscillator and amplifier products for the international physics research market. Core responsibilities consisted of mechanical and opto-mechanical assembly of all production products and subassemblies, including cryogenic, ultra-high vacuum components. Created, implemented, and maintained standardized, detailed documentation of cryocell builds, quality control logs, and development data.</div>
                </span>
                <span class="column large-2 middle-line">
                    <div class="circle text-center align-vertical">
                        <div>2011</div>
                    </div>
                </span>
                <span class="column large-5 experience-text">

                </span>
            </div>
            <div class="row experience-row experience-row-left">
                <span class="column large-5 experience-text">

                </span>
                <span class="column large-2 middle-line">
                    <div class="circle text-center align-vertical">
                        <div>2012</div>
                    </div>
                </span>
                <span class="column large-5 experience-text">
                    <div class="experience-company">DePalma Studios</div>
                    <div class="experience-title">Front End Developer</div>
                    <div class="experience-description">DePalma Studios is primarily an enterprise application development shop. Technologies included Angular, Knockout, Durandal, and Handlebars to create a rich, efficient user experience for clients.</div>
                </span>
            </div>
            <div class="row experience-row experience-row-left">
                <span class="column large-5 experience-text text-right">
                    <div class="experience-company">OpenSky</div>
                    <div class="experience-title">Senior Front End Developer</div>
                    <div class="experience-description">OpenSky is an e-commerce marketplace platform that empowers businesses to expand and connect with new shoppers. OpenSky's full technology stack includes Symfony, Doctrine, Twig, RequireJS, Backbone, and jQuery.</div>
                </span>
                <span class="column large-2 middle-line">
                    <div class="circle text-center align-vertical">
                        <div>2013</div>
                    </div>
                </span>
                <span class="column large-5 experience-text">

                </span>
            </div>
            {# <div class="row experience-row experience-row-left">
                <span class="column large-5 experience-text text-right">

                </span>
                <span class="column large-2">
                    <div class="circle text-center align-vertical">
                        <div>present</div>
                    </div>
                </span>
                <span class="column large-5 experience-text">

                </span>
            </div> #}
        </div>
    </div>
{% endblock %}
