{% extends 'base.html.twig' %}

{% block body %}
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas off-canvas-small position-left reveal-for-large" id="offCanvas" data-off-canvas>
                <div class="top-bar fixed">
                    <ul class="menu">
                        <li class="menu-item text-center logo">
                            <a href="{{ path('home') }}">sb</a>
                        </li>
                    </ul>
                </div>
                <div class="align-vertical">
                    <ul class="align-vertical-up menu side-menu vertical">
                        <li class="menu-item">
                            <a href="#">projects</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">experience</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">hire me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="align-vertical">
        <div class="row align-center large-6 align-vertical-up">
            <div class="column large-6">
                <p>I'm a Senior Frontend Developer working at <a>OpenSky</a>. Our dev stack is powered by Symfony and Doctrine on the backend and Backbone, RequireJS, and Foundation on the frontend.</p>
            </div>
            <div class="column large-6">
                <p>When I'm not working on OpenSky projects, I'm probably working on one of several ongoing <a>side projects</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
