.top-bar {
    background: rgba(15, 15, 15, 0.25);

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
}

.top-bar-left,
.top-bar-right {
    width: 50%;
}
