.top-bar {
    background: rgba(18, 18, 18, 0.21);
    height: 40px;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        line-height: 1;
    }
}

.top-bar-left,
.top-bar-right {
    width: 49.45%;
    display: inline-block;
    box-sizing: border-box;
}
