// .hero-container {
//     margin-top: 3rem;

//     @include breakpoint(medium) {
//         margin-top: 4rem;
//     }

//     @include breakpoint(xmedium) {
//         margin-top: 7rem;
//     }
// }

.heading-main {
    width: 100%;
    display: block;
    margin: 0 auto 10% auto;

    .full-name {
        font-size: 2rem;
        line-height: normal;
        width: inherit;
        color: rgba(245, 245, 245, 0.93);
        text-shadow: 1px 1px 3px rgba(20, 20, 20, 0.5);

        @include breakpoint(medium) {
            font-size: 3rem;
        }

        @media screen and (min-width: 40rem) {
            font-size: 5rem;
        }

        .first-name,
        .last-name {
            position: relative;
            display: inline;
            letter-spacing: 0.2rem;

            span {
                position: relative;

                &:after {
                    content: '';
                    height: 0.5em;
                    width: 0.5em;
                    border: 1px solid $bubble-border-color;
                    border-radius: 50%;
                    position: absolute;
                    opacity: 0.5;
                }

                &.s {
                    &:after {
                        height: 0.4em;
                        width: 0.4em;
                        top: 14%;
                        right: -8%;
                    }
                }

                &.a {
                    &:after {
                        display: none;
                    }
                }

                &.n {
                    &:after {
                        height: 0.5em;
                        width: 0.5em;
                        bottom: 0;
                        right: 45%;
                    }
                }

                &.d {
                    &:after {
                        height: 0.75em;
                        width: 0.75em;
                        top: -45%;
                        left: 40%;
                    }
                }

                &.e {
                    &:after {
                        display: none;
                    }
                }

                &.r {
                    &:after {
                        height: 0.3em;
                        width: 0.3em;
                        top: 35%;
                        left: -25%;
                    }
                }

                &.b {
                    &:after {
                        height: 0.6em;
                        width: 0.6em;
                        top: -15%;
                        left: -20%;
                    }
                }

                &.l {
                    &:after {
                       height: 0.8em;
                       width: 0.8em;
                       bottom: -10%;
                       left: -15%;
                   }
                }

                &.u {
                    &:after {
                        height: 0.5em;
                        width: 0.5em;
                        top: 8%;
                        right: -10%;
                    }
                }

                &.e {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .expertise {
        font-size: 1rem;
        letter-spacing: 0.25rem;
    }
}


/**
 * Social Icons
 */
$social-icon-size: 41px;
$social-icon-font-size: 1.65rem;
$social-icon-scale-end: 1.25;

.social-profile-link {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 8px;
    width: $social-icon-size;
    height: $social-icon-size;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: rgba(240, 240, 240, 0.6);
    background: rgba(255, 255, 255, 0.075);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 200ms, background 200ms, color 750ms;
    border: 1px solid rgba(255, 255, 255, 0.05);

    &:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        top: 0;
        left: 0;
        padding: 0;
        z-index: -1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
        opacity: 0;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    &:hover {
        background: rgba(255, 255, 255, 0.15);
        color: $font-color-link-hover;

        i {
            -webkit-transform: scale($social-icon-scale-end);
            -moz-transform: scale($social-icon-scale-end);
            -ms-transform: scale($social-icon-scale-end);
            transform: scale($social-icon-scale-end);
        }

        &:after {
            -webkit-animation: sonarEffect 1200ms ease-out 75ms;
            -moz-animation: sonarEffect 1200ms ease-out 75ms;
            animation: sonarEffect 1200ms ease-out 75ms;
        }
    }

    i {
        -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
        -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
        transition: transform ease-out 0.1s, background 0.2s;
        transform-origin: center;
        font-size: $social-icon-font-size;
        height: inherit;
        display: block;

        &:before {
            height: inherit;
            width: 100%;
            max-width: $social-icon-size;
            text-align: center;
            display: block;
            line-height: $social-icon-size;
            letter-spacing: 0.01em;
        }
    }
}
