.menu {
    &.align-left {
        @media screen and (min-width: 40rem) {
            margin-left: 2%;
        }
    }

    &.align-right {
        @media screen and (min-width: 40rem) {
            margin-right: 2%;
        }
    }

    .menu-item {
        a  {
            font-weight: 100;
            color: rgba(230, 230, 230, 0.85);
            padding: 0.75rem 1.75rem;
            position: relative;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 1px !important;
                height: 1px !important;
                width: 0% !important;
                transition: width 0.2s;
                background-color: $color-blue-base;
            }

            &:before {
                right: 50%;
                transform: rotate(180deg);
                -webkit-transform: translate(180deg);
            }

            &:after {
                left: 50%;
            }

            &:hover {
                color: rgba(240, 240, 240, 1);

                &:before,
                &:after {
                    width: 50% !important;
                }
            }
        }
    }
}

.submenu {
    .menu-item {
        a {
            @include Geomanist();
            font-size: 0.9rem;
        }
    }
}

// .menu {
//     &.side-menu {
//         width: inherit;
//         padding-left: 2rem;

//         .menu-item {
//             a {
//                 @include GeomanistItalic();
//                 padding: 0.75rem 1.75rem 0.6rem 0;
//                 margin-left: 0;
//             }
//         }
//     }
// }
