.main-menu-dropdown {
    min-height: 2.5rem;

    .top-bar & {
        background-color: transparent;
    }

    .menu-item {
        min-width: 3rem;
        text-align: right;
        display: block;

        @include breakpoint(medium) {
            min-width: 8rem;
            text-align: center;
        }

        > a {
            letter-spacing: 0.01em;

            @include breakpoint(large) {
                @include border-hover-animation(center-out);
            }
        }
    }
}

.main-submenu-items {
    max-width: 8rem;

    @include breakpoint(medium) {
        max-width: initial;
    }
}
