// Vendor
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';

// App Variables
$menuWidthLarge: 25%;
$contentWidthLarge: 100 - $menuWidthLarge;
$bubbleBorderColor: #e6e6e6;
$color-blue-base: #31c4f9;
$font-color-dark-base: rgba(20, 20, 20, 1);
$font-color-light-base: rgba(230, 230, 230, 1);
$bg-overlay: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7));

// App
@import 'animations';
@import 'mixins/mixins';
@import 'fonts/fonts';
@import 'foundation';
@import 'header';
@import 'hero';
@import 'menu';

// Pages
@import 'pages/projects';

@-webkit-keyframes opacity {
    0%   {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    @include font-main();
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    color: $font-color-light-base;
    background: linear-gradient(rgba(20,20,20, .70), rgba(20,20,20, .70));
    height: 100vh;
    background: $bg-overlay, rgba(0,0,0,0.7) url(../img/projects/clouds_from_plane.jpg?test=4) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

    a {
        transition: color 0.2s;
        color: rgba(225, 225, 225, 0.75);

        &:hover {
            color: rgba(225, 225, 225, 1);
        }
    }

    * {
        -webkit-animation: opacity 0.25s;
        -moz-animation:    opacity 0.25s;
        -o-animation:      opacity 0.25s;
        animation:         opacity 0.25s;
    }
}

.outer-container {
    padding: 3rem 0;
    height: 100%;
}

.main-container {
    margin-top: 10%;
}

.non-font {
    font-family: sans-serif;
    font-size: 150%;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.align-vertical {
     @include flexbox();
     height: 100vh;

    .align-vertical-up {
        margin-top: -100px;
    }
}

