// Vendor
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';

// App Variables
$menuWidthLarge: 25%;
$contentWidthLarge: 100 - $menuWidthLarge;
$bubbleBorderColor: #e6e6e6;
$blueBase: #00b0f0;

// App
@import 'animations';
@import 'mixins/mixins';
@import 'fonts/fonts';
@import 'foundation';
@import 'header.scss';

body {
    @include font-main();
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5));
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0,0,0,0.55) url(../img/ShootingStarsTreeline.jpg?test=3) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    a {
        transition: color 0.2s;
        color: black;

        &:hover {
            color: #2d2d2d;
        }
    }
}

.non-font {
    font-family: sans-serif;
    font-size: 150%;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.align-vertical {
     @include flexbox();
     height: 100vh;
}

.heading-main {
    width: 100%;
    display: block;
    margin: 0 auto 5% auto;

    .full-name {
        font-size: 4.5rem;
        width: inherit;

        .first-name,
        .last-name {
            position: relative;
            display: inline;
            letter-spacing: 0.2rem;

            span {
                position: relative;

                &:after {
                    content: '';
                    height: 0.5em;
                    width: 0.5em;
                    border: 1px solid $bubbleBorderColor;
                    border-radius: 50%;
                    position: absolute;
                    opacity: 0.4;
                }

                &.s {
                    &:after {
                        height: 0.4em;
                        width: 0.4em;
                        top: 14%;
                        right: -8%;
                    }
                }

                &.a {
                    &:after {
                        display: none;
                    }
                }

                &.n {
                    &:after {
                        height: 0.5em;
                        width: 0.5em;
                        bottom: 0;
                        right: 45%;
                    }
                }

                &.d {
                    &:after {
                        height: 0.75em;
                        width: 0.75em;
                        top: -45%;
                        left: 40%;
                    }
                }

                &.e {
                    &:after {
                        display: none;
                    }
                }

                &.r {
                    &:after {
                        height: 0.3em;
                        width: 0.3em;
                        top: 35%;
                        left: -25%;
                    }
                }

                &.b {
                    &:after {
                        height: 0.6em;
                        width: 0.6em;
                        top: -15%;
                        left: -20%;
                    }
                }

                &.l {
                    &:after {
                       height: 0.8em;
                       width: 0.8em;
                       bottom: -10%;
                       left: -15%;
                   }
                }

                &.u {
                    &:after {
                        height: 0.5em;
                        width: 0.5em;
                        top: 8%;
                        right: -10%;
                    }
                }

                &.e {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .expertise {
        font-size: 14px;
        letter-spacing: 0.25rem;

        .expertise-link {
            transition: border 0.2s ease;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid #00ff3b; // green
            }
        }
    }
}
