{% extends 'base.html.twig' %}

{% block body %}
    <ul class="accordion" data-accordion="9sivji-accordion" data-allow-all-closed="true" role="tablist">
      <li class="accordion-item is-active">
        <a href="#" class="accordion-title" aria-controls="r6q7me-accordion" role="tab" id="r6q7me-accordion-label" aria-expanded="true" aria-selected="true">Accordion 1</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="r6q7me-accordion-label" aria-hidden="false" id="r6q7me-accordion" style="display: block;">
          Panel 1. Lorem ipsum dolor
        </div>
      </li>
      <li class="accordion-item">
        <a href="#" class="accordion-title" aria-controls="a4qsq1-accordion" role="tab" id="a4qsq1-accordion-label" aria-expanded="false" aria-selected="false">Accordion 2</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="a4qsq1-accordion-label" aria-hidden="true" id="a4qsq1-accordion">
          Panel 2. Lorem ipsum dolor
        </div>
      </li>
      <li class="accordion-item">
        <a href="#" class="accordion-title" aria-controls="g2vm6e-accordion" role="tab" id="g2vm6e-accordion-label" aria-expanded="false" aria-selected="false">Accordion 3</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="g2vm6e-accordion-label" aria-hidden="true" id="g2vm6e-accordion">
          Panel 3. Lorem ipsum dolor
        </div>
      </li>
    </ul>
{% endblock %}
