{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column align-vertical text-center">
        <div class="heading-main text-center">
            <div class="special wrapper">
                <span class="first-name">
                    <span class="s">s</span>
                    <span class="a">a</span>
                    <span class="n">n</span>
                    <span class="d">d</span>
                    <span class="e">e</span>
                    <span class="r">r</span>
                </span>
                <span class="last-name">
                    <span class="b">b</span>
                    <span class="l">l</span>
                    <span class="u">u</span>
                    <span class="e">e</span>
                </span>
            </div>
            <div class="expertise text-center">
                <a class="expertise-link" href="/developer">DEVELOPER</a>
                <span class="non-font">|</span>
                <a class="expertise-link" href="/thinker">THINKER</a>
            </div>
        </div>
    </div>
{% endblock %}
