{% extends 'base.html.twig' %}

{% block body %}
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large menu-main" id="offCanvas" data-off-canvas>
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    {% for item in menuItems %}
                        <li class="accordion-item">
                            <a href="#menu-developer" role="tab" class="accordion-title" id="menu-developer-heading" aria-controls="menu-developer">{{ item.name }}</a>
                            <div id="menu-developer" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="menu-developer-heading">
                                test
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="off-canvas-content content-main" data-off-canvas-content>
                THIS IS MY PAGE
            </div>
        </div>
    </div>
{% endblock %}
