{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column">
        <div class="heading-main text-center">
            <div class="special">
                <div class="first-name">
                    <span class="s">s</span>
                    <span class="a">a</span>
                    <span class="n">n</span>
                    <span class="d">d</span>
                    <span class="e">e</span>
                    <span class="r">r</span>
                </div>
                <div class="last-name">
                    <span class="b">b</span>
                    <span class="l">l</span>
                    <span class="u">u</span>
                    <span class="e">e</span>
                </div>
            <div>
            {# <div class="expertise">
                <a class="expertise-link" href="/developer">DEVELOPER</a>
                <a class="expertise-link" href="/thinker">THINKER</a>
            </div> #}
        </div>
    </div>
{% endblock %}
