/**
 * App Fonts
 */
@include font-face('Varela', '../fonts/varelaround/varelaround-regular-webfont');
@include font-face('Geomanist', '../fonts/geomanist/geomanist-regular-webfont');
@include font-face('GeomanistItalic', '../fonts/geomanist/geomanist-regular-italic-webfont');
@include font-face('Galano', '../fonts/galano/galano-webfont');
@include font-face('GalanoBold', '../fonts/galano/galano-bold-webfont');


/**
 * Font Families
 */
@mixin Varela() {
    font-family: 'Varela', Helvetica, sans-serif;
}

@mixin Galano() {
    font-family: 'Galano', Helvetica, sans-serif;
}

@mixin GalanoBold() {
    font-family: 'GalanoBold', Helvetica, sans-serif;
}

@mixin Geomanist() {
    font-family: 'Geomanist', Helvetica, sans-serif;
}

@mixin GeomanistItalic() {
    font-family: 'GeomanistItalic', Helvetica, sans-serif;
}

@mixin Main() {
    @include Galano();
}

@mixin font-main() {
    @include Main();
}

@mixin font-bold() {
    @include GalanoBold();
}

@mixin font-paragraph() {
    @include Geomanist();
}
