{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-container">
        <div class="page-title text-center">projects</div>
        <div class="page-description text-center">a few ongoing side projects</div>
        <div class="row column small-11 medium-8 large-6 small-up-1 grid-list">
            {% for project in projects %}
                <div class="column project-panel">
                    <a href="{{ project.github }}" target="_blank" class="thumbnail-link">
                        <div class="project-info text-center">
                            <div class="project-title">{{ project.title }}</div>
                            <div class="project-description">{{ project.description }}</div>
                        </div>
                        <img class="thumbnail" src="{{ project.thumbnail }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
