<footer>
  <div class='footer'>
      <div class="footer-text-holder">
        <font class="copyright">&copy; Sander Blue</font>
        <font class="pipe">|</font>
        <font class="name">All Right Reserved</font>
      </div>
  </div>
</footer>