<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse navigation-links">
            <ul class="nav navbar-nav navbar-right">
                <li class="blog-link">
                    <a href="http://blog.sanderblue.com/">blog</a>
                </li>
                <li>
                    <a class="navbar-logo-holder navigation-logo navigation-logo-main" href="{{ path('home') }}">
                        <font class="s">s</font>
                        <font class="b">b</font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>