{% extends "index.twig" %}

{% block welcome %}
<div class="welcome">Hello!</div>
<div class="sub-text">Welcome to my little space on the interwebs.</div>
<div class="next-button">
    <a class="next" href="{{ path('info') }}">See more<span class="next-arrow">&#10140;</span></a>
</div>
{% endblock %}