{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/Swiper/dist/css/swiper.min.css') }}">
{% endblock %}

{% block body %}

    <div class="gallery-container">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide">
                        <img src="{{ asset(image.url) }}">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide" style="background-image:url(/{{ image.url }})">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
