@include font-face("Tw Cen MT", font-files("TwCenMT.ttf"), false, normal, normal);

$OpenSans: 'Open Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Comfortaa: 'Comfortaa', sans-serif;
$CenturyMT: 'Tw Cen MT', sans-serif;