html, body { font-family: $OpenSans; }

html {
    background-image: url('/assets/img/bg/treeOverRiver.jpg');
    @include background-size(cover);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    @include breakpoint(mobile) {
        background-image: url('/assets/img/bg/bg-overlay.png'),
                          url('../img/bg/treeOverRiver.jpg');
        @include background-size(cover);
        background-position: 0 0;
        background-attachment: fixed;
        background-repeat: no-repeat, repeat;
    }
}

body {
    background: transparent;
    color: rgba(255, 255, 255, .85);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, .85);

    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: rgba(255, 255, 255, .99);
    }
}