.container {
  margin: 0 auto;
  width: 1000px;
}

.content-holder {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 1000px;
  max-width: 1000px;
}

.left-side {
  display: inline-block;
  position: relative;
  width: 28.98789%;
}

.right-side {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 69.89%;
}

.right-side.welcome-text {
  vertical-align: baseline;
}

.welcome {
  @include text-shadow(0 3px 8px rgba(0, 0, 0, .75));
  position: relative;
  vertical-align: bottom;
  letter-spacing: 0.1em;
  text-align: right;
  color: #ffffff;
  font-family: $CenturyMT;
  font-size: 4.5em;
  margin: {
    top: 50%;
  }
}

.next-button {
    @include opacity(.75);
    text-align: right;
    float: right;
    margin-right: 5px;
    padding-top: 5px;

    &:hover {
        @include opacity(1);
    }
}

.next {
    font-size: 13px;
    vertical-align: middle;
}

.next-arrow {
    margin-left: 4px;
    font-size: 14px;
    // vertical-align: middle;
}

.job-title {
    font-family: $CenturyMT;
    font-size: 2.75em;
    letter-spacing: 0.3em;
    margin: {
        bottom: 6%;
    }
}

.location, .email, .work {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 100;
}

.social-icons-holder {
  border-top: 1px solid #e6e6e6;
  width: 175px;
  padding-top: 5.5%;
  margin: {
    top: 6.5%;
    left: 1.5%;
  }
}
