.info {
  @include text-shadow(0 3px 8px rgba(0, 0, 0, .75));
  width: 80%;
  float: right;
  letter-spacing: 0.1em;
  text-align: right;
  color: #ffffff;
  margin: {
    top: 9.6%;
  }
  padding: {
    bottom: 10%;
  }
}

.project {
  &:hover {
    cursor: pointer;
  }
}

.info-holder {
  @include background(linear-gradient(rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .5) 75%, rgba(50, 50, 50, .01) 100%));
  letter-spacing: 0.05em;
  line-height: 1.6em;
}

.info-sublinks {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 2.3%;
  font-size: 0.95em;
  font-weight: 400;

  .info-link {
    @include text-shadow(0 6px 10px rgba(0, 0, 0, .8));
    display: inline-block;
    cursor: pointer;
    margin: {
      right: 4%;
      left: 1%;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      @include opacity(.85);
    }
  }
}

.link-holder {
  display: inline-block;
}

.active:before {
  content: url('../img/icon-circles.png');
  height: 10px;
  width: 25px;
  position: absolute;
  display: block;
  height: 8px;
  width: 8px;
  margin: {
    left: -4.4%;
    top: 0.17%;
  }
}

.about-header {
  @include text-shadow(3px 7px 16px rgba(0, 0, 0, .9));
  @include opacity(.93);
  font-family: $CenturyMT;
  font-size: 6.75em;
  margin: {
    bottom: -8px;
  }
}

.sub-text {
    @include text-shadow(3px 4px 8px rgba(0, 0, 0, .85));
    text-align: right;
    font-weight: 200;
    letter-spacing: 0.07em;
    font-size: 15px;
    margin: {
        right: 2px;
        bottom: 50px;
    }
}

.about-holder {
  padding: 2%;
  font-size: 0.85em;
  font-weight: 100;
  letter-spacing: 0.1em;

  p {
    margin: {
      bottom: 3%;
    }
  }
}

.code-holder {
  /*letter-spacing: 0.1em;*/
  display: none;
  padding: 2%;
}

.skills-holder {
  position: relative;
  display: inline-block;
  width: 23%;
  vertical-align: text-top;
}

.skill {
  @include text-shadow(0 5px 8px rgba(0, 0, 0, .85));
  font-size: 0.85em;
  font-weight: 100;
  color: rgba(255, 255, 255, .85);

    a {
      color: rgba(255, 255, 255, .85);

      &:hover {
        @include transition(all 0.25s ease-in-out);
        color: rgba(255, 255, 255, .99);
      }
    }
}

.skill-header {
  margin: {
    bottom: 3.7%;
  }
}

.social-icon-holder {
  padding: 2%;
  display: none;
}
