#bar2 {
  width: 200px;
  height: 5px;
  background: rgba(0,0,0,.4);
  margin: 8px 0 0 8px;
  @include border-radius(50px);
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(255,255,255,.3);
  padding: 4px 5px 5px;
  display: inline-block;
}

div#bar2 span {
  height: 100%;
  display: block;
  background: #ddd1ff;
  @include border-radius(50px);
  // @include animation(pulse1 .6s infinite, grow .5s ease-out);
  -webkit-animation: pulse1 .6s infinite, grow .5s ease-out;
  -moz-animation: pulse1 .6s infinite, grow .5s ease-out;
  -ms-animation: pulse1 .6s infinite, grow .5s ease-out;
  -o-animation: pulse1 .6s infinite, grow .5s ease-out;
  animation: pulse1 .6s infinite, grow .5s ease-out;
}

div#bar2 span {
  background: #8aff51;
  -webkit-animation:pulse2 .6s infinite, grow .5s ease-out;
  -moz-animation:pulse2 .6s infinite, grow .5s ease-out;
  -ms-animation:pulse2 .6s infinite, grow .5s ease-out;
  -o-animation:pulse2 .6s infinite, grow .5s ease-out;
  animation:pulse2 .6s infinite, grow .5s ease-out;
}

@-webkit-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
}

@-webkit-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-webkit-keyframes grow {
  0% {width: 0;}
}

@-moz-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
}

@-moz-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-moz-keyframes grow {
  0% {width: 0;}
}

@-ms-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
}

@-ms-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-ms-keyframes grow {
  0% {width: 0;}
}

@-o-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
}

@-o-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-o-keyframes grow {
  0% {width: 0;}
}

@keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
}

@keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@keyframes grow {
  0% {width: 0;}
}