/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import "compass";


body {
	color: #666666;
	background-color: #fff;
	-webkit-print-color-adjust:exact;
}
.container {width: 900px;}

[class*='span'] {
	width: 100%;
	display: block;
	float: none;
}

.info-bar {
	background: none;
	p {color: #666666;}
	.info-heading{ display: none;}
	.profile-information {
		display: block;
		border: none;
	}
	.row {margin-bottom: 0;padding-top: 0;}
	.row-top {
		border: none;
		padding-bottom: 0;
	}
	.pull-right {
		text-align: left;
		float: none;
	}
	.profile-info {color: #0f72a4;}
	.profile-item {padding: 10px 0;}
}

	/* Accordion Bar */
.sidebar {
	display: none;
}

	/* Form Display area */
.form-wrapper { @include box-shadow(none);}
.scroll-pane {height: 100% !important;}
input.datepicker {background: none;}
.summary-container {
	background: none;
	border-color: #cccccc;
}
#master {margin-top: 0;}

#master,
[data-print="sectionHeading"] {
	background: #ebf4f7; 
	margin-top: 20px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ebf4f7;
}

.form-body .header {
	background: #f0f0f0;
}

input[type='text'],
textarea {
	margin: 0;
	@include box-shadow(none);
	border: none;
}

.dk_container {background: #eee;}
.dk_toggle {@include text-shadow(none);}

.dropdown-row {border-bottom-color: #ccc;}
.assessment-container {
	border-bottom: none;
	.graph-row {
		padding: 10px 0;
		border-bottom: 1px solid #cccccc;
	}
}
.client-risk-graph, .services-risk-graph {
	margin: 20px;
}

.blue-blue,
.green-blue,
.purple,
.teal-blue,
.purple-light,
.magenta {
	-webkit-print-color-adjust:exact;
}
	/* Form actions bar */
.form-actions {display: none;}
