{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-container">
        <div class="row align-center large-8">
            <div class="small-12 columns padding-large">
                <h1>Skills</h1>
            </div>
        </div>
        <div class="row align-center large-8">
            <div class="small-12 large-3 columns padding-large">
                <h5>FRONTEND</h5>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript (ES6 &amp; ES7)</li>
                    <li>Foundation</li>
                    <li>Vue.js</li>
                    <li>Backbone</li>
                    <li>RequireJS</li>
                    <li>Angular</li>
                    <li>Lodash</li>
                    <li>Underscore</li>
                    <li>Twig.js</li>
                    <li>Nunjucks</li>
                    <li>Handlebars</li>
                    <li>jQuery</li>
                    <li>SASS</li>
                    <li>LESS</li>
                </ul>
            </div>
            <div class="small-12 large-3 columns">
                <h5>SERVER-SIDE</h5>
                <ul>
                    <li>Node.js</li>
                    <li>PHP</li>
                    <li>Symfony</li>
                    <li>Doctrine</li>
                    <li>Twig</li>
                    <li>MySQL</li>
                    <li>Postgres</li>
                    <li>MongoDB</li>
                </ul>
            </div>
            <div class="small-12 large-3 columns">
                <h5>PACKAGE MANAGERS</h5>
                <ul>
                    <li>npm</li>
                    <li>Yarn</li>
                    <li>Bower</li>
                    <li>Composer</li>
                </ul>
            </div>
            <div class="small-12 large-3 columns">
                <h5>SOFT SKILLS</h5>
                <ul>
                    <li>Professional</li>
                    <li>Motivated</li>
                    <li>Intuitive</li>
                    <li>Creative</li>
                    <li>Cooperative</li>
                    <li>Ambitious</li>
                    <li>Innovative</li>
                    <li>Empathetic</li>
                    <li>Mentor</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
