{% extends 'base.html.twig' %}

{% block body %}
    <div class="row column small-10 large-8">
        <h1>Skills</h1>
        <div class="row small-up-2 medium-up-3">
            <div class="column column-block">
                <h5>FRONTEND</h5>
                <ul class="list">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript (ES6 &amp; ES7)</li>
                    <li>Foundation</li>
                    <li>Vue.js</li>
                    <li>Backbone</li>
                    <li>RequireJS</li>
                    <li>Angular</li>
                    <li>Three.js</li>
                    <li>WebGL</li>
                    <li>Lodash</li>
                    <li>Underscore</li>
                    <li>Twig.js</li>
                    <li>Nunjucks</li>
                    <li>Handlebars</li>
                    <li>jQuery</li>
                    <li>SASS</li>
                    <li>LESS</li>
                    <li>Jasmine</li>
                    <li>Karma</li>
                    <li>Mocha</li>
                </ul>
            </div>
            <div class="column column-block">
                <h5>SERVER-SIDE</h5>
                <ul class="list">
                    <li>Node.js</li>
                    <li>PHP</li>
                    <li>Symfony</li>
                    <li>Doctrine</li>
                    <li>Twig</li>
                    <li>MySQL</li>
                    <li>Postgres</li>
                    <li>MongoDB</li>
                    <li>PHPUnit</li>
                </ul>
                <h5>DEV OPS + TOOLS</h5>
                <ul class="list">
                    <li>npm</li>
                    <li>Yarn</li>
                    <li>Bower</li>
                    <li>Composer</li>
                    <li>webpack</li>
                    <li>Babel</li>
                    <li>Gulp</li>
                    <li>Grunt</li>
                    <li>Jenkins</li>
                </ul>
            </div>
            <div class="column column-block">
                <h5>PROGRAMMING INTERESTS</h5>
                <ul class="list">
                    <li>Data Visualization</li>
                    <li>Machine Learning</li>
                    <li>Artificial Intelligence</li>
                    <li>Mapbox GL JS</li>
                    <li>Go</li>
                    <li>Python</li>
                </ul>
                <h5>SOFT SKILLS</h5>
                <ul class="list">
                    <li>Professional</li>
                    <li>Motivated</li>
                    <li>Intuitive</li>
                    <li>Creative</li>
                    <li>Cooperative</li>
                    <li>Ambitious</li>
                    <li>Innovative</li>
                    <li>Empathetic</li>
                    <li>Mentor</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
