{% extends 'base.html.twig' %}

{% block body %}
    <div class="align-vertical hero-container">
        <div class="row align-center large-8 align-vertical-up">
            <div class="column large-6 padding-large">
                <p>I'm a Senior Front-end Developer currently working at <a href="https://www.opensky.com">OpenSky</a>. Our technology stack is powered by Symfony, Doctrine, MongoDB, and MySQL on the backend. The frontend is powered by Backbone, RequireJS, and Foundation. We use <a href="https://www.npmjs.com/" target="_blank">npm</a> for JavaScript dependency management and Composer for PHP dependency management. We use Gulp as our front-end task manager.</p>
            </div>
            <div class="column large-6 padding-large">
                <p>I have several ongoing <a href="{{ path('projects') }}">side projects</a>, but when I'm not working on something code-related, I like to spend my free time outdoors, often times with the dog, Theo. My favorite outdoor activities involve big mountains and snow. I've been a snowboarder and skier for over 14 years and during the summer months, I enjoy spending lots of time hiking, camping, and golfing.</p>
            </div>
        </div>
    </div>
{% endblock %}
